@using Data.Seed;
@using Data.Results;
@using Application.Models.SongRecommendations;
@model SongRecommendationsIndexModel


<form asp-controller="SongRecommendations" asp-action="Verification">

    <label asp-for="@Model.ArtistUserInput">
        Input an artist you want your recommmendations to take inspiration from
    </label>
    <input asp-for="@Model.ArtistUserInput"/>
    <label asp-for="@Model.TrackUserInput">
        Input a track you want your recommendations to take inspiration from
    </label>
    <input asp-for="@Model.TrackUserInput"/>

    <input type="submit"/>

</form>

@if (Model.RecommendationsGiven != false) 
{
    foreach (Track track in Model.Tracks)
    {   
        <div>artist name: @track.PerformingArtists[0].Name</div>
        <div>track name: @track.Name</div>
        
        <img href="@track.Album.Images[0].Url" />
    }
}