@model SeedVerificationModel

<div>
    <form asp-controller="SongRecommendations" asp-action="Index">
        @for (var i = 0; i < Model.Intermediaries.Count(); i++)
        {
            <div>
                <p>Verify which @Model.Intermediaries[i].SeedType you would like to use for inspiration when generating your song recommendations</p>
            </div>

            <input type="hidden" asp-for="@Model.Intermediaries[i].SeedType" value="@Model.Intermediaries[i].SeedType"/>

            @for (var j = 0; j < Model.Intermediaries[i].PotentialSeeds.Count(); j++)
            {
                <input type="hidden" asp-for="@Model.Intermediaries[i].PotentialSeeds[j].SpotifyId" value="@Model.Intermediaries[i].PotentialSeeds[j].SpotifyId" />
                <input type="hidden" asp-for="@Model.Intermediaries[i].PotentialSeeds[j].ArtistName" value="@Model.Intermediaries[i].PotentialSeeds[j].ArtistName" />
                
                <label asp-for="@Model.Intermediaries[i].PotentialSeeds[j].Verified">@Model.Intermediaries[i].PotentialSeeds[j].ArtistName</label>
                <input type="checkbox" asp-for="@Model.Intermediaries[i].PotentialSeeds[j].Verified" value="true" />

            }
        }
        <input type="submit" />
    </form>
</div>