@using Data.Seed;
@model SeedVerificationModel

<div>
    <form asp-controller="SongRecommendations" asp-action="Index">
        @for (var i = 0; i < Model.SeedIntermediaries.Count(); i++)
        {
            <div>
                <p>Verify which @Model.SeedIntermediaries[i].SeedType you would like to use for inspiration when generating your song recommendations</p>
            </div>

            <input type="hidden" asp-for="@Model.ArtistVerifiedSeeds[i].SeedType" value="@Model.SeedIntermediaries[i].SeedType" />

            @for (var j = 0; j < Model.SeedIntermediaries[i].PotentialSeeds.Count(); j++)
            {
                <input type="hidden" asp-for="@Model.ArtistVerifiedSeeds[i].SpotifyId" value="@Model.SeedIntermediaries[i].PotentialSeeds[j].SpotifyId" />
                
                <input type="hidden" asp-for="@Model.TArtistVerifiedSeeds[i]" value="@Model.SeedIntermediaries[i].PotentialSeeds[j].SpotifyId" />


                <label asp-for="@Model.ArtistVerifiedSeeds[i].SpotifyId">

                    @Model.SeedIntermediaries[i].PotentialSeeds[j].ArtistName

                    <input type="checkbox" name="@Model.TArtistVerifiedSeeds" value="@Model.SeedIntermediaries[i].PotentialSeeds[j].SpotifyId" />

                </label>
            }
        }

        @for (var i = 0; i < Model.TrackSeedIntermediaries.Count(); i++)
        {
            <div>
                <p>Verify which @Model.TrackSeedIntermediaries[i].SeedType you would like to use for inspiration when generating your song recommendations</p>
            </div>

            <input type="hidden" asp-for="@Model.TrackVerifiedSeeds[i].SeedType" value="@Model.TrackSeedIntermediaries[i].SeedType" />

            @for (var j = 0; j < Model.TrackSeedIntermediaries[i].TrackPotentialSeeds.Count(); j++)
            {

                <input type="hidden" asp-for="@Model.TrackVerifiedSeeds[i].SpotifyId" value="@Model.TrackSeedIntermediaries[i].TrackPotentialSeeds[j].SpotifyId" />

                <label asp-for="@Model.TrackVerifiedSeeds[i].SpotifyId">
                    
                    <div>
                        <p>Track Name: @Model.TrackSeedIntermediaries[i].TrackPotentialSeeds[j].TrackName</p>
                        <p>Performing Artist: @Model.TrackSeedIntermediaries[i].TrackPotentialSeeds[j].PerformingArtist</p>
                    </div>

                    <input type="checkbox" name="@Model.TrackVerifiedSeeds" value="@Model.TrackSeedIntermediaries[i].TrackPotentialSeeds[j].SpotifyId" />

                </label>
            }
        }

        <input type="submit" />
    </form>
</div>