@using Application.Models.SongRecommendations;
@model SeedVerificationModel

<div>
    <form asp-controller="SongRecommendations" asp-action="Index">
        @for (var i = 0; i < Model.SeedIntermediaries.Count(); i++)
        {
            <div>
                <p>Verify which @Model.SeedIntermediaries[i].SeedType you would like to use for inspiration when generating your song recommendations</p>
            </div>

            <input type="hidden" asp-for="@Model.SeedIntermediaries[i].SeedType" value="@Model.SeedIntermediaries[i].SeedType"/>

            @for (var j = 0; j < Model.SeedIntermediaries[i].PotentialSeeds.Count(); j++)
            {
                <input type="hidden" asp-for="@Model.SeedIntermediaries[i].PotentialSeeds[j].SpotifyId" value="@Model.SeedIntermediaries[i].PotentialSeeds[j].SpotifyId" />
                <input type="hidden" asp-for="@Model.SeedIntermediaries[i].PotentialSeeds[j].ArtistName" value="@Model.SeedIntermediaries[i].PotentialSeeds[j].ArtistName" />
                <input type="hidden" asp-for="@Model.SeedIntermediaries[i].PotentialSeeds[j].SeedType" value="@Model.SeedIntermediaries[i].PotentialSeeds[j].SeedType" />

                <label asp-for="@Model.SeedIntermediaries[i].PotentialSeeds[j].Verified">@Model.SeedIntermediaries[i].PotentialSeeds[j].ArtistName</label>
                <input type="checkbox" asp-for="@Model.SeedIntermediaries[i].PotentialSeeds[j].Verified" value="true" />

            }
        }
        <input type="submit" />
    </form>
</div>